@tailwind base;
@tailwind components;
@tailwind utilities;

.post-content p{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.post-content h1{
    font-size: 2rem;
    font-weight: 600;
}
